body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {

  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* header  */
.header {
  background-color: #7367f0;
  padding: 8px;
  color: white;
  font-family: 'Montserrat', sans-serif;
}

.title,
.sub-title,
.title a {
  text-align: center;
  color: white;

}

.title a:hover,
.sub-title:hover {
  text-align: center;
  color: aquamarine;
}

/*--------------------------*/

/* Notifications List  */
.container {
  margin: 40px;
}

.top {
  display: flex;
  justify-content: space-between;
}

.list-title {
  display: flex;
  align-self:baseline;
}

/*  SEARCH BAR  */
@media only screen and (min-width: 600px) {
.search{
  display: flex;
  align-self:center;
  border-radius: 3px;
  width: 500px;
  min-width: 10px;
  font-family: Lato, 'Helvetica Neue', Arial, Helvetica, sans-serif;
  margin: 4px;
  outline: 0;
  -webkit-appearance: none;
  line-height: 1.21428571em;
  padding: 0.67857143em 1em;
  font-size: 1em;
  background: #fff;
  border: 1px solid rgba(34, 36, 38, .15);
  color: rgba(0, 0, 0, .87);
  border-radius: 0.28571429rem;
  -webkit-box-shadow: 0 0 0 0 transparent inset;
  box-shadow: 0 0 0 0 transparent inset;
  -webkit-transition: color .1s ease, border-color .1s ease;
  transition: color .1s ease, border-color .1s ease;
}
.search-mobile{
  display: none;
}

}

@media only screen and (max-width: 600px) {
  .search{
    display: none;
  }
  .search-mobile{
    display: flex;
    align-self:center;
    border-radius: 3px;
    width: 100%;
    min-width: 10px;
    font-family: Lato, 'Helvetica Neue', Arial, Helvetica, sans-serif;
    margin: 4px;
    outline: 0;
    -webkit-appearance: none;
    line-height: 1.21428571em;
    padding: 0.67857143em 1em;
    font-size: 1em;
    background: #fff;
    border: 1px solid rgba(34, 36, 38, .15);
    color: rgba(0, 0, 0, .87);
    border-radius: 0.28571429rem;
    -webkit-box-shadow: 0 0 0 0 transparent inset;
    box-shadow: 0 0 0 0 transparent inset;
    -webkit-transition: color .1s ease, border-color .1s ease;
    transition: color .1s ease, border-color .1s ease;
  }
}
/* BTN NEW */
.btn-new {
  display: flex;
  justify-content: flex-end;
}

.list a {
  text-decoration: none;
  color: black;
}

.list a:hover {
  text-decoration: none;
  color: rgb(10, 10, 161);
}

.list :hover {
  box-shadow: 1px 3px 5px rgb(0, 0, 0, 0.1);
}

/*-----ICONS ------------*/
.checkmark {
  color: green;
}

.attention {
  color: darkred;
}

.mobile,
.email {
  color: rgb(10, 10, 161);
}

/*-----STATUS WIDTH ------------*/
.neg-pos-width {
  width: 98px !important;
  height: 64px;
}

/*--------------------------*/

/* Error Page  */
.error {
  text-align: center;
  margin: 20px;
}

/* Validations Errors  */
.val-errors{
  font-size: 12px;
  color: red;
}


/*--------------------------*/

.optionStyle {
  display: flex;
  align-self: center;
}

/* FORM semantic */

.form {
  display: block;
  text-align: left;
  padding-bottom: 40px;
  margin-left: 20px;
  margin-right: 20px;
}

/* CREATE  */
.create {
  max-width: 600px;
  margin: 0 auto;
  text-align: center;
}

/* FORM FOR CREATE NEW */
.create-form {
  display: block;
  text-align: left;
  padding-bottom: 40px;
  margin-left: 20px;
  margin-right: 20px;
  max-width: 600px;
}

.create-form label {
  font-weight: bold;
}


.create-form select,
.option {
  padding: 6px;
  max-width: 200px;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: hsl(0, 0%, 100%);
  border-color: hsl(0, 0%, 80%);
  border-radius: 4px;
  border-style: solid;
  border-width: 1px;
  cursor: default;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  min-height: 38px;
  outline: 0 !important;
  position: relative;
  -webkit-transition: all 100ms;
  transition: all 100ms;
  box-sizing: border-box;
  color: rgba(0, 0, 0, .87);
  font-family: Lato, 'Helvetica Neue', Arial, Helvetica, sans-serif;
}

.option {
  color: inherit;
  background: 0px center;
  opacity: 0;
  width: 100%;
  grid-area: 1 / 2 / auto / auto;
  font: inherit;
  min-width: 2px;
  border: 0px;
  margin: 0px;
  outline: 0px;
  padding: 0px;
}

.create-form input {
  border-radius: 3px;
  width: 600px;
  font-family: Lato, 'Helvetica Neue', Arial, Helvetica, sans-serif;
  margin: 0;
  outline: 0;
  -webkit-appearance: none;
  line-height: 1.21428571em;
  padding: 0.67857143em 1em;
  font-size: 1em;
  background: #fff;
  border: 1px solid rgba(34, 36, 38, .15);
  color: rgba(0, 0, 0, .87);
  border-radius: 0.28571429rem;
  -webkit-box-shadow: 0 0 0 0 transparent inset;
  box-shadow: 0 0 0 0 transparent inset;
  -webkit-transition: color .1s ease, border-color .1s ease;
  transition: color .1s ease, border-color .1s ease;
}

.create-form textarea {
  margin: 0;
  -webkit-appearance: none;
  padding: 0.78571429em 1em;
  background: #fff;
  border: 1px solid rgba(34, 36, 38, .15);
  outline: 0;
  color: rgba(0, 0, 0, .87);
  border-radius: 0.28571429rem;
  -webkit-box-shadow: 0 0 0 0 transparent inset;
  box-shadow: 0 0 0 0 transparent inset;
  -webkit-transition: color .1s ease, border-color .1s ease;
  transition: color .1s ease, border-color .1s ease;
  font-size: 1em;
  line-height: 1.2857;
  resize: vertical;
}

.create-form button {
  outline: 0;
  padding: 6px;
  width: 80px;
  cursor: pointer;
  display: inline-block;
  min-height: 1em;
  outline: 0;
  border: none;
  vertical-align: baseline;
  background: #e0e1e2 none;
  color: rgba(0, 0, 0, .6);
  font-family: Lato, 'Helvetica Neue', Arial, Helvetica, sans-serif;
  margin: 0 0.25em 0 0;
  padding: 0.78571429em 1.5em 0.78571429em;
  text-transform: none;
  text-shadow: none;
  font-weight: 700;
  line-height: 1em;
  font-style: normal;
  text-align: center;
  text-decoration: none;
  border-radius: 0.28571429rem;
  -webkit-box-shadow: 0 0 0 1px transparent inset, 0 0 0 0 rgb(34 36 38 / 15%) inset;
  box-shadow: 0 0 0 1px transparent inset, 0 0 0 0rgba(34, 36, 38, .15) inset;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-transition: opacity .1s ease, background-color .1s ease, color .1s ease, background .1s ease, -webkit-box-shadow .1s ease;
  transition: opacity .1s ease, background-color .1s ease, color .1s ease, background .1s ease, -webkit-box-shadow .1s ease;
  transition: opacity .1s ease, background-color .1s ease, color .1s ease, box-shadow .1s ease, background .1s ease;
  transition: opacity .1s ease, background-color .1s ease, color .1s ease, box-shadow .1s ease, background .1s ease, -webkit-box-shadow .1s ease;
  will-change: '';
  -webkit-tap-highlight-color: transparent;
}

/*----------------------------  */

/* Back Botton   */
.back-btn {
  outline: 0;
  padding: 6px;
  width: 80px;
  cursor: pointer;
  display: block;
  min-height: 1em;
  outline: 0;
  border: none;
  background: #e0e1e2 none;
  color: rgba(0, 0, 0, .6);
  font-family: Lato, 'Helvetica Neue', Arial, Helvetica, sans-serif;
  margin: 20px 40px;
  padding: 0.78571429em 1.5em 0.78571429em;
  text-transform: none;
  text-shadow: none;
  font-weight: 700;
  line-height: 1em;
  font-style: normal;
  text-align: center;
  text-decoration: none;
  border-radius: 0.28571429rem;
  -webkit-box-shadow: 0 0 0 1px transparent inset, 0 0 0 0 rgb(34 36 38 / 15%) inset;
  box-shadow: 0 0 0 1px transparent inset, 0 0 0 0rgba(34, 36, 38, .15) inset;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

}

.btn-navigate {
  float: left;
}

/* Select templates  */
.select {
  padding-top: 20px;
  padding-bottom: 20px;
  margin-left: 10px;
  margin-right: 10px;
}

.select-col:hover {
  box-shadow: 1px 17px 15px rgba(17, 6, 37, 0.1);
}

/*-------------------------*/

.pagination, .page-item{
 justify-content: center;
 display: inline-block;
 margin: 2px;
 background-color:aliceblue;
 padding: 6px;
}
